<li>
  <!-- creating a route to delete post using path params //later handled in the routes -->
    <% if(locals.user && locals.user.id==post.user.id){%>
    <a href="/posts/destroy/<%= post.id%>">X</a>
    <%}%>
    <p>
      <%= post.content %>
    <br>
    <%= post.user.name %>
    </p>
    <!-- posting comments -->
    <%if(locals.user){%>
    <div id="post-comments">
      <form action="/comments/create" method="POST">
        <input type="text" name="content">
        <!-- to get the information abot the post and an indirect reference to the user -->
        <input type="hidden" name="post" value="<%= post._id%>">
        <input type="submit" value="ADD comment">
      </form>
    </div>
    <%}%>
    <div id="post-comments-list">
      <ul id="post-commets-<%= post._id%>">
    <!-- this gies us the post id so that we can use it for further modifications -->
    <%for(comment of post.comments){%>
      <!-- creating a partial -->
     <%-include("_comment");-%>
  <%}%>
      </ul>
    </div>
  </li>